<div class="zoom hero-image" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{menu.background}})">
        <div class="hero-text">
            <img src="{{menu.logo}}" class="card-img-top menu-hero-logo animate__animated animate__fadeIn" alt="...">
            <h1 class="text-white animate__animated animate__fadeInUp" style="font-size:50px">{{menu.name}}</h1>
            <p class="text-white animate__animated animate__fadeInUp animate__delay-1s">{{menu.description}}</p>
        </div>
</div>


<div class="d-flex justify-content-center align-items-center animate__animated animate__fadeIn ">
    <div class=" glassmorphism-no-hover pt-5 pb-5 col-12 ">
        <div class="row justify-content-center align-items-center mt-3 mx-0 text-center px-5 ">
                <div class="col-12 d-flex justify-content-rigth text-right ">
                    <a href="/restaurants/{{menu.restaurant}}" class=" px-5 py-2"> <p class="back"> <i class="fa fa-arrow-left" aria-hidden="true"></i> <strong>Go Back</strong> </p> </a>
                </div>
            <h1 class="mb-5 text-black">CATEGORIES</h1>
            <hr class="text-white">
            
            <div class=" row col-12 d-flex justify-content-center align-items-center text-center h-100 parent">
            {{#each menu.categories as |category|}}
                <div class="col-3 d-flex justify-content-center align-items-center text-center card card-body mx-4 my-4 p-0 card-hover categories-card">

                                        <form action="/categories/{{category.id}}/delete" class="m-0 p-0" method="post">
                                            <button type="submit" class="close"><strong>X</strong></button>
                                        </form>
                                        
                    <a  class="f-h p-2 " href="/categories/{{category.id}}">
                        <div class="row col-12 justify-content-center align-items-center text-center min-h-300 m-0">

                            <div class="col-3 d-flex justify-content-center align-items-center text-center w-50">
                                    <img src="{{category.image}}" class="card-img-top categories-image w-100" alt="...">
                            </div>

                            <div class="col-9 d-flex justify-content-center align-items-center text-center p-0 box w-50">
                                <div class="row col-12 justify-content-center align-items-center f-h">
                                    <h5 class="card-title">{{category.name}}</h5>
                                 {{#if category.description}}<p class="card-text">{{category.description}}</p> {{/if}}
                                </div>
                            </div>

                        </div>
                    </a>
                    
                        <a href="/categories/{{category.id}}/edit"><i class="fa fa-pencil edit" aria-hidden="true"></i></a>
                </div>
            {{/each}}
            </div>
            <hr class="black mt-5"/>    
        </div>

                <div class="row ">
                    <div class="col-12 d-flex justify-content-center align-items-center text-center">
                        <form action="/categories/{{menu.id}}/new" method="GET">
                            <button type="submit"  class="btn btn-primary">Create a New Category</button>
                        </form>
                        </div>
                    </div>
                </div>


                
        <div class="mt-5">
            <br>
        </div>
    </div>

</div>


