<div class="zoom hero-image" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{menu.background}})">
        <div class="hero-text">
            <img src="{{menu.logo}}" class="card-img-top menu-hero-logo" alt="...">
            <h1 style="font-size:50px">{{menu.name}}</h1>
            <p>{{menu.description}}</p>
        </div>
</div>





<div class="d-flex justify-content-center align-items-center white">
    <div class=" glassmorphism-no-hover pt-5 pb-5 col-12 ">
        <div class="row justify-content-center align-items-center mt-3 text-center px-5">

            <h1 class="mb-5 text-black">CATEGORIES</h1>
            <hr class="black">
            {{#each menu.categories as |category|}}
                <div class="col-3 d-flex justify-content-center align-items-center text-center mb-4">
                    <div class="card card-size pt-3">
                        <div class="row justify-content-center align-items-center text-center position-menu-logo">
                            <div class="position-relative logo-restaurant-background-circle  d-flex justify-content-center align-items-center text-center">
                            </div> 

                            <div class="position-absolute container-menu-logo d-flex justify-content-center align-items-center text-center">
                                <img src="{{category.logo}}" class="card-img-top restaurant-logo" alt="...">
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-black">{{category.name}}</h5>
                            <p class="card-text text-black">{{category.description}}</p>
                                <a href="/categories/{{category.id}}" class="btn btn-primary">See details</a>
                        </div>
                    </div> 
                </div>
            {{/each}}
            <hr class="black mt-5"/>    
        </div>

                <div class="row ">
                    <div class="col-12 d-flex justify-content-center align-items-center text-center">
                        <form action="/categories/{{menu.id}}/new" method="GET">
                            <button type="submit"  class="btn btn-primary">Create a New Category</button>
                        </form>
                        </div>
                    </div>
                </div>


                
        <div class="mt-5">
            <br>
        </div>
    </div>

</div>


