<div class="d-flex justify-content-center align-items-center full-heigth">
  <div class="container glassmorphism container-new-menu pt-5 pb-5 mt-5">
    <div class="row d-flex justify-content-center align-items-center m-0">
      <div class="col-12 d-flex justify-content-center align-items-center"> 
        <h1 class="mb-4 create-menu">Create a New product</h1>
      </div> 
    </div>
    <div class="row justify-content-center m-0">
      <div class="col-12 d-flex justify-content-center align-items-center p-0 text-center"> 
        <form action="/products/{{product.category}}/create" method="POST" class="col-10">
        
          <div class="input-group mb-3 ">
            <span class="no-label input-group-text"><i class="fa fa-tag fa-fw"></i></span>
            <input id="name" type="text" name="name" value="{{ product.name }}" class="form-control {{#if errors.name }}is-invalid{{/if}}" placeholder="Product name..." />
            {{#if errors.name }}<div class="invalid-feedback">{{ errors.name }}</div>{{/if}}

            <span class="no-label input-group-text"><i class="fa fa-eur fa-fw"></i></span>
            <input id="price" type="number" step="0.01" name="price" value="{{ product.price }}" class="form-control {{#if errors.price }}is-invalid{{/if}}" placeholder="Product price..." />
            {{#if errors.price }}<div class="invalid-feedback">{{ errors.price }}</div>{{/if}}
          </div>

          <div class="input-group mb-3">
            <span class="no-label input-group-text"><i class="fa fa-edit fa-fw"></i></span>
            <textarea id="description" placeholder="Describe your product here..." class="form-control {{#if errors.description }}is-invalid{{/if}}" name="description" aria-label="product description">{{ product.description}}</textarea>
            {{#if errors.description }}<div class="invalid-feedback">{{ errors.description }}</div>{{/if}}
          </div>

          <div class="input-group mb-3">
            <span class="no-label input-group-text"><i class="fa fa-picture-o fa-fw"></i></span>
            <input id="image" type="text" name="image" value="{{ product.image }}" class="form-control {{#if errors.image }}is-invalid{{/if}}"
              placeholder="Enter your image url..." />
            {{#if errors.image }}<div class="invalid-feedback">{{ errors.image }}</div>{{/if}}
          </div>


          {{!-- <label for="category">Category</label>
          <div class="input-group mb-4">

            <span class="input-group-text d-flex justify-content-center align-items-center no-label">
              <i class="fa fa-list fa-fw "></i>
            </span>

          <select name="category" id="category" class="form-select">
              {{#each categories as |category|}}
              <option value = "{{category.id}}">
                {{category.name}}
              </option>
              {{/each}}
            </select>
          </div>
            <p class="tiny-text ">Note: Select the categories where this will appeard</p> --}}



          <label for="allergens" style="primary-color">Allergens</label>
          <div class="input-group mb-4 ">
            <div class="form-check form-switch  overflow-auto restaurants-list bg-white">
                {{#each categoriesAllergens as |allergen|}}
                  <input class="form-check-input col-12 mt-3 bug" type="checkbox" id="allergens" name="allergens"  value="{{allergen}}"/>
                  <label class="form-check-label mt-2 col-12 text-l" for="{{allergen}}">{{allergen}}</label>
                {{/each}}
            </div>
          </div>




          
          <div class="d-grid gap-2 d-flex justify-content-center align-items-center" >
            <button type="submit" class="btn btn-primary btn-primary w-25">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
