<div class=" justify-content-center align-items-start text-center ">
    <div class="m-5 p-5 first-top-margin">
        <br> 
    </div>

    <div class="container glassmorphism-no-hover pt-5 pb-5 mt-5 col-12 fade-in-1 ">
        <div class="row justify-content-center align-items-center mt-3 mx-0 text-center px-5">

            <h1 class="mb-5">ALL MY RESTAURANTS</h1>
            <hr>

            <div class="row col-12  d-flex justify-content-center align-items-center text-center parent">
            {{#each restaurants as |restaurant|}}
                <div class="col-5 d-flex justify-content-center align-items-center text-center mb-4 card card-body mx-2 h-100 restaurant-card">
                    <form action="/restaurants/{{restaurant.id}}/delete" class="m-0 p-0" method="post">
                        <button type="submit" class="close"><strong>X</strong></button>
                    </form>

                    <div class="row col-12 justify-content-center align-items-center text-center">
                        <div class="col-3 d-flex justify-content-center align-items-center text-center">

                                <img src="{{restaurant.logo}}" class="card-img-top restaurant-logo" alt="...">
                        </div>
                        <div class="col-9 d-flex justify-content-center align-items-center text-center box">
                            <div class="row col-12 justify-content-center align-items-center py-5 f-h">
                                <h5 class="card-title">{{restaurant.name}}</h5>
                                <p class="card-text">{{restaurant.description}}</p>
                                    <a href="restaurants/{{restaurant.id}}" class="btn btn-primary">See details</a>
                            </div>
                        </div>
                    </div>
                    <a href="/restaurants/{{restaurant.id}}/edit"><i class="fa fa-pencil edit" aria-hidden="true"></i></a>
                </div>
            {{/each}}
            </div>
            <hr class="mt-5"/>    
        </div>

        <div class="row ">
            <div class="col-12 d-flex justify-content-center align-items-center text-center">
                <h2><a href="/restaurants/new" class="btn btn-primary">Create a New Restaurant</a></h2>
                
            </div>
        </div>
    </div>

    <div class="m-5">
        <br>
    </div>
</div>
